.LogoutButtonRoot {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #00FF9C 33.63%, #B6FFA1 70.31%, #FEFFA7 100%);
  padding: 5px 12px;
}

.LogoutButtonRoot:hover {
  background: linear-gradient(135deg, #00FF9C 0%, #B6FFA1 51.04%, #FEFFA7 100%);
}

.LogoutButtonRoot span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.LogoutButtonRoot i,
.LogoutButtonRoot:hover i {
  color: #ffffff !important;
}

.historyButtonRoot {
  width: 180px;
  border: 1px solid #d1d1d1;
}

.historyButtonRoot:hover {
  border: 1px solid #d1d1d1;
}

.historyButtonRoot:active {
  border: 1px solid #d1d1d1;
}

@media (max-width: 480px) {
  .LogoutButtonRoot {
    width: auto;
    padding: 5px 8px;
  }

  .historyButtonRoot {
    width: auto;
    padding: 0 8px;
  }
}
